@media screen {
    .movie-grid {
        max-height: 100vh;
        max-width: 100vw;
    }
}

.movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: var(--max-percentage);
}

.movie-grid h2,
.movie-grid h4,
.movie-grid p,
.cast,
.director {
    padding-left: 10px;
}

.movie-grid .movie {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    width: var(--max-percentage);
    height: var(--max-percentage);

    border-bottom: var(--main-color) 1px solid;
}

.movie-grid .cast {
    grid-row-start: 2;
    width: var(--max-percentage);
    height: 25%;
}

.movie-grid .director {
    width: var(--max-percentage);
    height: 25%;
}

.center-video video {
    height: var(--max-percentage);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-percentage);
}

.center-video div {
    margin-top: 5%;
    margin-bottom: 5%;

    color: var(--main-color);

    text-align: center;
    vertical-align: middle;
}