@import './variables.css';
@import './navbar.css';
@import './carousel.css';
@import './modal.css';
@import './search.css';
@import './movie.css';

@font-face {
    font-family: 'Robot-file';
    src: url("../assets/fonts/Roboto.ttf");
}

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-file', sans-serif;
    width: 100%;
}

img,
svg {
    max-width: 100%;
    display: block;
}

.grid-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(2, 33vh);
    min-height: 100%;
}

.welcome {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2%;
}

.welcome>h2>span {
    color: var(--main-color);
}

.carousel {
    height: 100%;
}

.carousel-title {
    padding-left: 2%;
    padding-bottom: 3px;
    color: var(--main-color);
}

.simple-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;

    width: 100%;
    margin-bottom: 5px;
}

.simple-btn:hover {
    background-color: #f4f6f9;
}

.simple-input {
    display: inline-block;
    padding: 0 16px 0 12px;
    width: 100%;
    line-height: 30px;
    height: 32px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear, background-color .1s linear;
    margin-bottom: 5px;
}

.simple-input:focus-visible {
    border-color: #1b96ff;
    color: black;
    box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
    outline: none;
}

.error {
    color: red;
    margin-bottom: 5px;
}


/* START LOGIN/REGISTER AND CONTACT CSS */
.login {
    position: absolute;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#register select,
#register option {
    width: 100%;
}

.contact {
    position: absolute;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    max-width: 50%;
}

.contact h3 {
    margin-right: 2%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.contact .about-us {
    grid-column-start: 1;
    grid-column-end: 3;
}