@import './variables.css';
@import './navbar.css';
@import './carousel.css';
@import './modal.css';

@font-face {
    font-family: 'Robot-file';
    src: url("../assets/fonts/Roboto.ttf");
}

* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-file', sans-serif;
}

img,
svg {
    max-width: 100%;
    display: block;
}

#grid-body {
    display: grid;
    grid-template-columns: 100%;
    min-height: 100%;
}

.login {
    position: absolute;
    border: 2px solid var(--main-color);
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#register select, #register option {
    width: 100%;
}

.simple-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;

    width: 100%;
    margin-bottom: 5px;
}

.simple-btn:hover {
    background-color: #f4f6f9;
}

.simple-input {
    display: inline-block;
    padding: 0 16px 0 12px;
    width: 100%;
    line-height: 30px;
    height: 32px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear,background-color .1s linear;
    margin-bottom: 5px;
}

.simple-input:focus-visible
{
    border-color: #1b96ff;
    color: black;
    box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
    outline: none;
}

.error {
    color: red;
    margin-bottom: 5px;
}